export(bt.intersect, bt.window, bt.closest, bt.coverage, bt.map, bt.genomecov, bt.merge, bt.cluster, bt.complement, bt.shift, bt.subtract, bt.slop, bt.flank, bt.sort, bt.random, bt.shuffle, bt.sample, bt.spacing, bt.annotate, bt.multiinter, bt.unionbedg, bt.pairtobed, bt.pairtopair, bt.bamtobed, bt.bedtobam, bt.bamtofastq, bt.bedpetobam, bt.bed12tobed6, bt.getfasta, bt.maskfasta, bt.nuc, bt.multicov, bt.tag, bt.jaccard, bt.reldist, bt.fisher, bt.overlap, bt.igv, bt.links, bt.makewindows, bt.groupby, bt.expand, bt.split)
